server/node_modules/*
client/node_modules/*
client/dist/
client/npm-debug.log*
client/test/unit/coverage/
client/test/e2e/reports/
client/package-lock.json

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
